In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mangan,IN,2021-12-29 01:57:20,27.5167,88.5333,51.57,97,100,1.03
1,1,Busselton,AU,2021-12-29 01:57:21,-33.6500,115.3333,93.04,32,0,6.58
2,2,Kamenka,RU,2021-12-29 01:57:21,51.3223,42.7678,9.75,90,100,12.71
3,3,Severo-Kurilsk,RU,2021-12-29 01:53:58,50.6789,156.1250,29.19,84,100,28.61
4,4,Cayenne,GF,2021-12-29 01:57:22,4.9333,-52.3333,75.24,92,75,2.30

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Cayenne,GF,2021-12-29 01:57:22,4.9333,-52.3333,75.24,92,75,2.30
11,11,New Norfolk,AU,2021-12-29 01:57:24,-42.7826,147.0587,80.65,18,18,5.01
14,14,Saint-Philippe,RE,2021-12-29 01:57:26,-21.3585,55.7679,76.59,86,100,15.03
18,18,Rikitea,PF,2021-12-29 01:57:28,-23.1203,-134.9692,78.73,75,50,9.82
21,21,Hithadhoo,MV,2021-12-29 01:57:29,-0.6000,73.0833,82.15,72,96,13.98
22,22,Mahebourg,MU,2021-12-29 01:57:30,-20.4081,57.7000,78.26,78,40,11.50
30,30,Vaini,TO,2021-12-29 01:57:33,-21.2000,-175.2000,87.96,66,75,10.36
31,31,Ambanja,MG,2021-12-29 01:57:33,-13.6833,48.4500,75.31,92,79,2.98
42,42,Tiarei,PF,2021-12-29 01:57:38,-17.5333,-149.3333,77.02,78,100,9.64
44,44,Hobart,AU,2021-12-29 01:54:34,-42.8794,147.3294,81.01,51,75,1.99

In [15]:
preferred_cities_df.count()

City_ID       142
City          142
Country       142
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4          Cayenne      GF     75.24   4.9333  -52.3333
11     New Norfolk      AU     80.65 -42.7826  147.0587
14  Saint-Philippe      RE     76.59 -21.3585   55.7679
18         Rikitea      PF     78.73 -23.1203 -134.9692
21       Hithadhoo      MV     82.15  -0.6000   73.0833
22       Mahebourg      MU     78.26 -20.4081   57.7000
30           Vaini      TO     87.96 -21.2000 -175.2000
31         Ambanja      MG     75.31 -13.6833   48.4500
42          Tiarei      PF     77.02 -17.5333 -149.3333
44          Hobart      AU     81.01 -42.8794  147.3294

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Cayenne,GF,75.24,4.9333,-52.3333,Hôtel Le Dronmi
11,New Norfolk,AU,80.65,-42.7826,147.0587,The Shingles Riverside Cottages
14,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Rikitea,PF,78.73,-23.1203,-134.9692,People ThankYou
21,Hithadhoo,MV,82.15,-0.6000,73.0833,Scoop Guest House
22,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
30,Vaini,TO,87.96,-21.2000,-175.2000,Keleti Beach Resort
31,Ambanja,MG,75.31,-13.6833,48.4500,Hotel Salama and Fast Food
42,Tiarei,PF,77.02,-17.5333,-149.3333,Le Rocher de Tahiti
44,Hobart,AU,81.01,-42.8794,147.3294,Mantra on Collins Hobart

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))